@import nib
@import url('../bower_components/normalize-css/normalize.css')
YELLOW = #feec09

/* general {{{ */
*
	box-sizing border-box

img
	max-width 100%

html
	background #606060
	width 100%
	height 100%

body
	background #191919
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	color #333
	//width 100%
	height 100%
	margin-left 13em

.fakepad
	position: absolute
	top: 50%
	left: 50%
	margin-left: -512px
	margin-top: -384px
	height: 768px
	width: 1024px

.col
	display inline-block
	vertical-align top
	padding-bottom 1.333em

.btn
	display inline-block

.hardware-hack
	// http://blog.alexmaccaw.com/css-transitions
	font-smoothing antialiased
	transform translate3d(0,0,0);

/* general }}} */
// {{{ nav
.nav>ul
	absolute top bottom
	left 0
	width 6em
	z-index 11
	margin 0
	padding 0
	list-style none

.nav-item-container
	height 33.333%
	position relative

.nav-item
	background #131313
	color #464646
	display block
	height 100%
	padding 1em
	position relative
	overflow hidden
	text-decoration none
	border-right solid 3px YELLOW
	transition background ease 0.5s

.nav-item-active
	background YELLOW
	border-right-color transparent
	color #131313

.nav-image
	display block
	margin 0 auto
	//max-height 6em
	max-width 96%
	line-height 100%

.nav-text
	absolute left 50% top 50%
	margin-left -5em
	margin-top -0.5em
	width 10em
	transform-origin 50% 50%
	transform rotate(-90deg)

	font-size 2em
	font-weight bold
	display block
	text-align center
	text-transform uppercase

// nav }}}
// {{{ subnav
.subnav
	absolute top bottom
	left 6em
	width 7em
	z-index 10
	background #191919
	list-style none
	margin 0
	padding 0

.subnav-item
	color #404040
	display block
	font-weight bold
	letter-spacing 1px
	padding: 0.41666em 1em
	text-decoration none
	text-transform uppercase
	transition color ease 0.5s

// TODO add more classes via javascript and clean up these selectors
.nav-item-active + .subnav .subnav-item
	color #f0f0f0

.subnav-item-active
	background YELLOW
	color #131313 !important

// subnav }}}
// {{{ cards

h1
	color YELLOW
	text-transform uppercase
	letter-spacing 1px

.page
	height 100%
	padding 3em 1.5em 1.5em 9.5em
	position relative

.card
	background #191919
	//background rgba(0,0,0,0.8)
	border-top: 3px solid YELLOW
	color #fff
	absolute left right
	bottom 0
	padding 0.75em
	z-index 10
	h1
		margin-top 0

.card-main
	font-size 1.3333em
	padding 0.5em

.card-primary
	width 62%

.card-secondary
	width 38%

.card-primary,
.card-secondary,
.column
	display: inline-block
	vertical-align: top

.column-golden-large
	width 62%
.column-golden-small
	width 38%

// cards }}}
// {{{ sections

.btn-interaction
	background transparent
	border-radius 0
	border 0

	svg
		max-width 100%

// sections }}}
// {{{ Forces::weight

#btn-cessna-elevation
	polyline,
	path,
	line
		fill: transparent
		//animation-timing-function ease-in
		animation-duration 2s
		animation-name flashActionableSvg
		animation-iteration-count infinite

#weightInteraction
	height 100%
	width 100%

.cessna
	img
		position relative
		z-index 1
	.arrow
		background YELLOW
		position absolute
		display inline-block
		margin 0 20px
		height 60px
		width 2px
		&:after
			absolute bottom -2px
			left -6px
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 7px solid YELLOW
			content ''

	.arrow-n
		left 40%
		top 10%
		transform rotate(180deg)
	.arrow-s
		left 37%
		top 70%
	.arrow-w
		bottom 25%
		transform rotate(65deg)
	.arrow-e
		top 10%
		left 80%
		transform rotate(-115deg)

.weight-arrows
	position absolute
	left 20%
	bottom 15%
	transform: skewX(13deg);
	.arrow
		background YELLOW
		position relative
		display inline-block
		margin 0 20px
		height 60px
		width 2px
		&:after
			absolute bottom
			left -4px
			border-left 5px solid transparent
			border-right 5px solid transparent
			border-top 5px solid YELLOW
			content ''

// Forces::weight }}}
// {{{ animations

@keyframes flashActionableSvg
	from
		stroke #f0402a
	50%
		stroke darken(#f0402a, 40%)
	to
		stroke #f0402a

@keyframes slideUpAndFadeOut
	from
		transform translateY(0)
		opacity 1
	to
		transform translateY(-16em)
		opacity 0

@keyframes slideDownAndFadeIn
	from
		transform translateY(-16em)
		opacity 0
	to
		transform translateY(0)
		opacity 1

.slideUpAndFadeOut
	animation-duration: 1s
	animation-name: slideUpAndFadeOut
	animation-iteration-count: 1
	animation-fill-mode: forwards

.slideDownAndFadeIn
	animation-duration: 1s
	animation-name: slideDownAndFadeIn
	animation-direction: alternate
	animation-fill-mode: forwards

@keyframes slideDownAndFadeOut
	from
		transform translateY(0)
		opacity 1
	to
		transform translateY(16em)
		opacity 0

@keyframes slideUpAndFadeIn
	from
		transform translateY(16em)
		opacity 0
	to
		transform translateY(0)
		opacity 1

.slideDownAndFadeOut
	animation-duration: 1s
	animation-name: slideDownAndFadeOut
	animation-iteration-count: 1
	animation-fill-mode: forwards

.slideUpAndFadeIn
	animation-duration: 1s
	animation-name: slideUpAndFadeIn
	animation-direction: alternate
	animation-fill-mode: forwards

// animations }}}
