@import nib
@import url('../bower_components/normalize-css/normalize.css')
YELLOW = #feec09

/* general {{{ */
*
	moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing: border-box

img
	max-width 100%

html
	background #606060
	width 100%
	height 100%

body
	background #191919
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	color #333
	//width 100%
	height 100%
	margin-left 13em

.fakepad
	position: absolute
	top: 50%
	left: 50%
	margin-left: -512px
	margin-top: -384px
	height: 768px
	width: 1024px

/* general }}} */
// {{{ nav
.nav
	absolute top 0 left 0
	bottom 0
	width 6em
	z-index 11

.nav-item
	background #131313
	color #fff
	display block
	padding 1em
	position relative
	text-decoration none
	height 33.333%

.nav-item-active
	background YELLOW
	color #000

.nav-image
	display block
	margin 0 auto
	//max-height 6em
	max-width 96%
	line-height 100%

.nav-text
	absolute left 50% top 50%
	margin-left -5em
	margin-top -0.5em
	width 10em
	transform-origin 50% 50%
	transform rotate(-90deg)

	font-size 2em
	font-weight bold
	display block
	text-align center
	text-transform uppercase

// nav }}}
// {{{ subnav
.subnav
	absolute top bottom
	left -7em
	width 7em
	z-index 20
	background #191919

.subnav-item
	color #f0f0f0
	display block
	font-weight bold
	letter-spacing 1px
	padding: 0.41666em 1em
	text-decoration none
	text-transform uppercase

.subnav-item-active
	background #f2ec59
	color #000

// subnav }}}
// {{{ cards

h1
	color YELLOW
	text-transform uppercase
	letter-spacing 1px
	margin-top 0

.page
	height 100%
	padding 3em 1.5em 1.5em 9.5em
	position relative

.card
	background #000
	//background rgba(0,0,0,0.8)
	border-top: 3px solid YELLOW
	color #fff

.card-primary
	padding 0.75em
	width 62%

.card-secondary
	width 38%

.card-primary,
.card-secondary,
.column
	display: inline-block
	vertical-align: top

.column-golden-large
	width 62%
.column-golden-small
	width 38%

// cards }}}
.btn
	display inline-block

.btn-weight-interaction
	background #0f0f0f
	border-radius 0
	border 0
	height 4em

.hardware-hack
	// http://blog.alexmaccaw.com/css-transitions
	font-smoothing antialiased
	transform translate3d(0,0,0);

#weightInteraction
	height 100%
	width 100%

// {{{ animations

@keyframes slideUpAndFadeOut
	from
		transform translateY(0)
		opacity 1
	to
		transform translateY(-16em)
		opacity 0

@keyframes slideDownAndFadeIn
	from
		transform translateY(-16em)
		opacity 0
	to
		transform translateY(0)
		opacity 1

.slideUpAndFadeOut
	animation-duration: 1s
	animation-name: slideUpAndFadeOut
	animation-iteration-count: 1
	animation-fill-mode: forwards

.slideDownAndFadeIn
	animation-duration: 1s
	animation-name: slideDownAndFadeIn
	animation-direction: alternate
	animation-fill-mode: forwards

@keyframes slideDownAndFadeOut
	from
		transform translateY(0)
		opacity 1
	to
		transform translateY(16em)
		opacity 0

@keyframes slideUpAndFadeIn
	from
		transform translateY(16em)
		opacity 0
	to
		transform translateY(0)
		opacity 1

.slideDownAndFadeOut
	animation-duration: 1s
	animation-name: slideDownAndFadeOut
	animation-iteration-count: 1
	animation-fill-mode: forwards

.slideUpAndFadeIn
	animation-duration: 1s
	animation-name: slideUpAndFadeIn
	animation-direction: alternate
	animation-fill-mode: forwards

// animations }}}
