@import nib
@import url('../bower_components/normalize-css/normalize.css')

body
	background: #606060
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	color: #333

// {{{ nav
.nav
	fixed top 0 left 0
	width 8em

.nav-item
	background #fff
	display block
	padding: 1em
	text-decoration none

.nav-item-active
	background #f2ec59

.nav-image
	display block
	margin 0 auto
	max-height 6em
	max-width 80%

.nav-text
	color #999
	display block
	position relative
	left -0.75em
	top 1.5em
	transform-origin 0% 0%
	transform rotate(-90deg)

// nav }}}
// {{{ subnav
.subnav
	fixed top 0 left 8em

.subnav-item
	background #fff
	color #999
	display inline-block
	padding: 1em
	text-decoration none

.subnav-item-active
	background #f2ec59

// subnav }}}


.hero-unit
	margin: 50px auto 0 auto
	width: 300px
	font-size: 18px
	font-weight: 200
	line-height: 30px
	background-color: #eee
	border-radius: 6px
	padding: 60px

.hero-unit h1
	font-size: 60px
	line-height: 1
	letter-spacing: -1px

