!!!
html.no-js
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title The Basics of Flight
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")

		//-Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel="stylesheet", href="styles/main.css")
		//- build:js scripts/vendor/modernizr.js
		//-script(src="bower_components/modernizr/modernizr.js")
		//- endbuild
	//- addClass `fakepad` to hardcode the height/width to 1024x768
	body
		#svgs(hidden)
			include images/cessna-isometric.svg
			include images/cessna-elevation.svg
		script
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-42464473-1', 'carolinasaviation.github.io');
			ga('send', 'pageview');

		// build:js scripts/main.js
		script(data-main="scripts/main", src="bower_components/requirejs/require.js")
		// endbuild
