!!!
html.no-js
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title The Basics of Flight
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

		//-Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel="stylesheet", href="styles/main.css")
		//- build:js scripts/vendor/modernizr.js
		//-script(src="bower_components/modernizr/modernizr.js")
		//- endbuild
	// addClass `fakepad` to hardcode the height/width to 1024x768
	body
		#svgs(hidden)
			include images/cessna-isometric.svg
			include images/cessna-elevation.svg
		script
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));

		// build:js scripts/main.js
		script(data-main="scripts/main", src="bower_components/requirejs/require.js")
		// endbuild
